# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VSCode temporary workspace files
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Runtime outputs (keep folders, ignore logs)
data/logs/*.csv
data/logs/*.txt
data/logs/*.log
